@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');

:root {
    background-color: rgb(29,26,26);
}

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-size: 62.5%;
   font-family: 'Nova Square',cursive;
}

h1{
    font-size: 5.4rem;
    color:#fff;
    margin-bottom: 5rem;
}

h2{
    font-size:4.2rem;
    margin-bottom: 4rem;
}

p{
    font-size: 1.8rem;
    margin-bottom:1rem;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin:0 auto;
    padding: 2rem;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.flex-row{
    display: flex;
    flex-direction: row;
    
}


.flex-center{
    justify-content: center;
    align-items: center;
}

.justify-center{
    justify-content: center;
}

.text-center{
    text-align: center;
}

.hidden{
    display: none;
}

.btn{
    font-size: 2.4rem;
    padding: 2rem 0;
    width: 30rem;
    text-align: center;
    margin-bottom: 1rem;
    text-decoration: none;
    color:rgb(28,26,26);
    background: linear-gradient(90deg, rgb(18, 92, 255) 0%, rgb(0, 102, 255) 100%);
    border-radius: 4px;
}

.btn:hover{
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(8,114,244,0.6);
    transition: transform 150ms;
    transform: scale(1.1);
}

.btn[disabled]:hover{
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}

.btn-delete{
    font-size: 1.5rem;
    padding: 1rem 0;
    width: 10rem;
    text-align: center;
    margin-bottom: 1rem;   
    text-decoration: none;
    color:rgb(28,26,26);
    background: linear-gradient(0deg, rgba(203,3,3,1) 0%, rgba(255,0,0,1) 100%);
    border-radius: 4px;
}

.btn-delete:hover{
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(8,114,244,0.6);
    transition: transform 150ms;
    transform: scale(1.1);
}

.btn-edit{
    font-size: 1.5rem;
    padding: 1rem 0;
    width: 10rem;
    text-align: center;
    margin-bottom: 1rem;   
    text-decoration: none;
    color:rgb(28,26,26);
    background: linear-gradient(90deg, rgb(18, 92, 255) 0%, rgb(0, 102, 255) 100%);
    border-radius: 4px;
}

.btn-edit:hover{
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(8,114,244,0.6);
    transition: transform 150ms;
    transform: scale(1.1);
}

.btn-back{
    font-size: 2.4rem;
    padding: 2rem 0;
    width: 30rem;
    text-align: center;
    margin-bottom: 1rem;
    text-decoration: none;
    color:rgb(28,26,26);
    background: linear-gradient(0deg, rgba(203,3,3,1) 0%, rgba(255,0,0,1) 100%);
    border-radius: 4px;
}

.btn-back:hover{
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(8,114,244,0.6);
    transition: transform 150ms;
    transform: scale(1.1);
}

.padding-left{
    padding-left: 1rem;
    
}

.margin-bottom{
    margin-bottom: 5rem;
    
}

.add-newQuestion-form {
    width: 100%;
    display: flex;
    flex-direction: column;   
    align-items: center;
    max-width: 80rem;
}

input {
    margin-bottom: 1rem;
    width: 80rem;
    padding: 1.5rem;
    font-size: 1.8rem;
    border: none;
    box-shadow: 0 0.1rem 1.4rem 0 rgba(86, 185, 235, 0.5);
}

input::placeholder {
    color: #aaa;
}

#smaller-font{
    font-size: 2.5rem;    
}

#answer-label{
    font-size: 2.5rem;
    margin-bottom: 0.3rem;
}

select{
    margin-bottom: 1.5rem;
    width: 40rem;
    padding: 1.5rem;
    border: none;
    box-shadow: 0 0.1rem 1.4rem 0 rgba(86, 185, 235, 0.5);
    font-size: 1.8rem;
}

#green-text{
    color:green;
}

@media screen and (max-width:768px){
    .add-newQuestion-form{
        min-width: 40rem;
    }
    input{
        width: 40rem;
    }
    .flex-row{
        display:flex;
        flex-direction: column;
    }
}




